[x-cloak] {
    display: none !important;
}

.player-text {
    max-width: 12rem
}

.name {
    max-width: 5rem
}

.pt-full {
    padding-top: 100%;
}

.min-h-28 {
    min-height: 3rem;
}

.min-h-20 {
    min-height: 5rem;
}